@font-face {
  font-family: persian;
  src: url("/fonts/persian/BNazanin.tft");
}

body {

  margin: 0;
  background-color: #f5f5f5;
  font-family:  sans-serif;
}

h1,
h2,
h3 {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
body{
  direction: rtl;
}
.center{
margin:auto;
text-align: center;
}