@import url("./fonts.css");

body {
  font-family: persian;
  margin: 0;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
body {
  direction: rtl;
}
.center {
  margin: auto;
  text-align: center;
}
